@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  /* height: 100%; */
}

.message-box {
  scroll-behavior: smooth;
}

/* Hide Default Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar */
}

/* Add this to your CSS file */
.terminal {
  resize: vertical;
  /* Allow vertical resizing */
  overflow: auto;
  /* Ensure scrollbars appear when content overflows */
  min-height: 100px;
  /* Minimum height for the terminal */
}

/* copilot css */
.copilotKitDevConsole {
  display: none !important;
}

.copilotKitButton,
.copilotKitHeader,
.copilotKitMessage.copilotKitUserMessage {
  background-color: #2982ff !important;
}

.copilotKitButton,.crs {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
    0 0 20px rgba(255, 255, 255, 0.2),
    0 0 30px rgba(255, 255, 255, 0.1) !important;
}

.copilotKitWindow {
  height: 550px !important;
}

.copilotKitMessages {
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
}

.copilotKitInput {
  position: fixed !important;
  bottom: 0;
  width: 100%;
}

.sr-only {
  display: none;
}